<h1>Showing a todo</h1>
<p>
	 Name:<%= @todo.name %> <br>
    Description:<%= @todo.description %>
</p> 
   <%= link_to "Edit ",edit_todo_path(@todo) %> |
   <%= link_to "Back to listing ",todos _path(@todo) %> 
